<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Edit Role</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="/dashboard/roles/edit/<%= role._id %>">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name" class="form-label">Role Name *</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= role.name %>" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" value="<%= role.description || '' %>">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Permissions</label>
                        <div class="row">
                            <div class="col-md-4">
                                <h6>Post Permissions</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CREATEPOST" name="permissions" value="CREATEPOST" <%= role.permissions && role.permissions.includes('CREATEPOST') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="CREATEPOST">Create Posts</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="UPDATEPOST" name="permissions" value="UPDATEPOST" <%= role.permissions && role.permissions.includes('UPDATEPOST') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="UPDATEPOST">Update Posts</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="DELETEPOST" name="permissions" value="DELETEPOST" <%= role.permissions && role.permissions.includes('DELETEPOST') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="DELETEPOST">Delete Posts</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="READPOST" name="permissions" value="READPOST" <%= role.permissions && role.permissions.includes('READPOST') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="READPOST">Read Posts</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="PUBLISHPOST" name="permissions" value="PUBLISHPOST" <%= role.permissions && role.permissions.includes('PUBLISHPOST') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="PUBLISHPOST">Publish Posts</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h6>User Permissions</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CREATEUSER" name="permissions" value="CREATEUSER" <%= role.permissions && role.permissions.includes('CREATEUSER') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="CREATEUSER">Create Users</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="UPDATEUSER" name="permissions" value="UPDATEUSER" <%= role.permissions && role.permissions.includes('UPDATEUSER') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="UPDATEUSER">Update Users</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="DELETEUSER" name="permissions" value="DELETEUSER" <%= role.permissions && role.permissions.includes('DELETEUSER') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="DELETEUSER">Delete Users</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="READUSER" name="permissions" value="READUSER" <%= role.permissions && role.permissions.includes('READUSER') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="READUSER">Read Users</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h6>Other Permissions</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CREATECATEGORY" name="permissions" value="CREATECATEGORY" <%= role.permissions && role.permissions.includes('CREATECATEGORY') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="CREATECATEGORY">Create Categories</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CREATENAVBAR" name="permissions" value="CREATENAVBAR" <%= role.permissions && role.permissions.includes('CREATENAVBAR') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="CREATENAVBAR">Create Navbar Items</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CREATEFOOTER" name="permissions" value="CREATEFOOTER" <%= role.permissions && role.permissions.includes('CREATEFOOTER') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="CREATEFOOTER">Create Footer Items</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CREATEROLE" name="permissions" value="CREATEROLE" <%= role.permissions && role.permissions.includes('CREATEROLE') ? 'checked' : '' %>>
                                    <label class="form-check-label" for="CREATEROLE">Create Roles</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i>Update Role
                        </button>
                        <a href="/dashboard/roles" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-2"></i>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
